body {
    color: white;
    background-image: linear-gradient(to bottom right, rgb(5, 17, 68), rgb(9, 39, 94));
    background-repeat: repeat; /* Fills blank space below footer */
    font-family: 'Josefin';
}

.navbar {
    background-color: rgb(57, 9, 102) !important; /* Used to take precedence over Bootstrap default, 1/3 */
    border-bottom: 3px outset rgb(12, 88, 31);
}

.navbar-brand {
    color:rgb(177, 18, 182);
    font-size: 24px;
}

.navbar-brand:hover {
    color:rgb(148, 25, 150);
    font-size: 24px;
}

.navbar-brand:focus {
    color:rgb(148, 25, 150); /* Overrides Bootstrap default */
}

.nav-link {
    color:rgb(33, 155, 54) !important; /* Used to take precedence over Bootstrap default, 2/3 */
    font-size: 21px;
}

.nav-link:hover {
    color: rgb(28, 107, 34) !important; /* Used to take precedence over Bootstrap default, 3/3 */
}

.nav-item {
    font-size: 17px;
}

.icon {
    height: 50px;
    margin: 5px;
}

.centralPanel {
    background-image: linear-gradient(to bottom right,  rgb(72, 13, 128), rgb(75, 1, 75));
    width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 4px solid rgb(9, 65, 11);
    border-radius: 25px;
    padding: 1rem;
    text-shadow: 2px 2px black;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) { /* Decreases panel width after passing bootstrap breakpoint */
    .centralPanel {
        width: 90%;
        max-width: 576px;
    }
}

@media screen and (max-width: 576px) { /* Moves panel content to edge to maximize visibility */
    .centralPanel {
        justify-content: flex-start;
    }
}

#pageTitle {
    display: grid;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    padding-bottom: 15px;
    border-image: linear-gradient(to right, #443f3f, #6d4d12); 
    border-image-slice: 1; /* Border gradient does not appear without this */
}

.memeForm {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.formItem {
    margin: 2px;
    display:flex;
    font-size: 25px;
    padding: 10px;
}

.formLabel {
    margin: auto;
}

input[type="text"] {
    text-align: center;
    border: 3px solid #8521c9;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 2 2 5px rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus {
    border: 3px solid rgb(142, 23, 172);
}

.btn-gradient {
    background-image: linear-gradient(to bottom, orange, rgb(177, 115, 1));
    border-color: grey;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Roboto';
    width: 300px;
    height: 60px;
    margin: auto;
    transition: none;
}

.btn-gradient:hover {
    background-image: linear-gradient(to bottom, rgb(167, 95, 2), rgb(163, 107, 3));
    border-color: rgb(255, 255, 255);
}

.error {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 100;
    margin: auto;
    width: 500px;
    text-align: center;
    background-color: red;
    margin-bottom: 20px;
    text-shadow: none;
    margin-top: 25px;
    font-size: 20px;
}

.memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid rgb(3, 77, 13);
    border-left: 1px solid rgb(13, 94, 63);
    border-right: 1px solid rgb(13, 94, 63);
    border-bottom: 1px solid rgb(3, 77, 13);
    margin-left: 3rem; 
    margin-right: 3rem;
    margin-bottom: 1.25rem;
    background-image: linear-gradient(to bottom right, rgb(5, 43, 12), rgb(6, 63, 32));
}

.meme-img {
    height: 200px;
    border-radius: 15px;
    margin: 25px;
    border: 25px;
    border-color: black;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type:none;
}

.footer-item {
    margin: 5px;
}

.footer-item a {
    color: rgb(252, 252, 252);
    background-image: linear-gradient(to right, rgb(14, 75, 47), rgb(18, 66, 60));
    background-color: rgba(255, 255, 255, 1);
    padding: 0.2em 0.5em; 
    border-radius: 5px; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-item a:hover {
    background-image: linear-gradient(to right, rgb(34, 94, 34), rgb(2, 92, 2));
}
